@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  .dark {
    --background: 22 33% 10%; /* Equivalent to #221e10 */
    --foreground: 0 0% 98%;
    --card: 0 0% 16%;
    --card-foreground: 0 0% 98%;
    --popover: 22 33% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 45 89% 50%; /* Equivalent to #f2b90d */
    --primary-foreground: 45 89% 5%;
    --secondary: 45 33% 20%; /* Equivalent to #493f22 */
    --secondary-foreground: 0 0% 98%;
    --muted: 45 33% 20%;
    --muted-foreground: 45 15% 75%; /* Equivalent to #cbbc90 with some opacity */
    --accent: 48 100% 85%;
    --accent-foreground: 48 100% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 45 33% 20%;
    --ring: 45 89% 50%;
    --chart-1: 45 89% 50%;
    --chart-2: 48 100% 70%;
    --chart-3: 45 90% 60%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 13%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 51 100% 50%;
    --sidebar-primary-foreground: 51 100% 5%;
    --sidebar-accent: 0 0% 25%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 20%;
    --sidebar-ring: 51 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
